.journal-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.invalid{
    border:1px solid red;
    background: #751010;
}
input, textarea{
    background: none;
    border: none;
    outline: none;
}
.inputTitle__header{
    font-size: 30px;
}
.title__header{
    display: flex;
    justify-content: space-between;
}
label{
    font-size: 16px;
    color: gray;
    font-weight: 500;
}
form>p{
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(75, 75, 75);
}
p>img, p>label{
    padding-right: 10px;
}
p>input{
    padding-left: 20px;
}
textarea{
    height: 400px;
    width: 100%;
    font-size: 15px;
    resize: none; /* Запрещаем изменять размер */
}
button{
    width: 150px;
}

